.mainPage {
  background-color: rgba(173, 167, 167, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bell {
  background-color: white;
}
.salesInfo {
  font-weight: bold;
  padding: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.heading {
  font-size: x-large;
  color: blue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  padding-left: 10px;
  padding-top: 20px;
  color: black !important;
}

.searchBar {
  padding: 20px;
}

.sales {
  font-size: larger;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navlink{
  color: black;
  font-size: large;
}
